<ion-view view-title="Share Facturas" side="center">
  <ion-content>
    <div class="list">

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="searchQuery" placeholder="Search Facturas">
        </label>
        <button class="button button-small">
          Search
        </button>
      </div>

    </div>
    <label>
      Reporte
    </label>
    <br>
    <samp ng-repeat="factura in facturas | filter:searchQuery">{{factura.nit_empresa}}|{{factura.nro_fac}}|{{factura.nro_aut}}|{{factura.fecha_fac}}|{{factura.importe}}|{{factura.importe_ley}}|{{factura.codigo_control}}|{{factura.nit_cliente}}|0|0|0|{{factura.descuento}}<br></samp>
</ion-content>
</ion-view>

